.header {
  font-family: 'Carter One', sans-serif;
  color: #fff;
  padding-top: 24px;
}

.header .main {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icon {
  background-color: #fff;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
  border-radius: 25%;
  margin: 8px;
}

.team-icon img {
  width: 80px;
  height: 80px;
  background-size: contain;
  cursor: pointer;
  padding: 24px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}