.header {
  color: #fff;
  padding-top: 24px;
}

.header .main {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icon {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
  border-radius: 25%;
  margin: 8px;
}

.team-icon {
  width: 80px;
  height: 80px;
  background-size: contain;
  cursor: pointer;
  padding: 24px;
}

.team-icon div {
  width: 80px;
  height: 80px;
  background-size: contain;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.selected-team {
  display: flex;
  margin-left: 24px;
}

.selected-team {
  width: 124px;
  height: 124px;
  background-size: contain;
}
