.scoreboard {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
  color: #552583;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  padding: 24px;
  font-size: 24px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.points-section .points {
  font-size: 80px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.stat {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.points-section .text {
  font-size: 40px;
  margin-top: -24px;
}

.stat .number {
  font-size: 36px;
}

.stat .text {
  font-size: 24px;
}