.footer {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 48px;
}

.footer a {
  color: #fff;
}