.app {
  background-image: url('/public/images/kbmain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Carter One', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.select-another-team {
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
}

.scoreboard-container {
  display: flex;
}