.hawks {
  background-image: url('/public/images/team-icons/hawks.png');
}
.celtics {
  background-image: url('/public/images/team-icons/celtics.png');
}
.nets {
  background-image: url('/public/images/team-icons/nets.png');
}
.bobcats {
  background-image: url('/public/images/team-icons/bobcats.png');
}
.bulls {
  background-image: url('/public/images/team-icons/bulls.png');
}
.cavaliers {
  background-image: url('/public/images/team-icons/cavaliers.png');
}
.cavaliers {
  background-image: url('/public/images/team-icons/cavaliers.png');
}
.mavericks {
  background-image: url('/public/images/team-icons/mavericks.png');
}
.nuggets {
  background-image: url('/public/images/team-icons/nuggets.png');
}
.pistons {
  background-image: url('/public/images/team-icons/pistons.png');
}
.warriors {
  background-image: url('/public/images/team-icons/warriors.png');
}
.rockets {
  background-image: url('/public/images/team-icons/rockets.png');
}
.pacers {
  background-image: url('/public/images/team-icons/pacers.png');
}
.clippers {
  background-image: url('/public/images/team-icons/clippers.png');
}
.lakers {
  background-image: url('/public/images/team-icons/lakers.png');
}
.grizzlies {
  background-image: url('/public/images/team-icons/grizzlies.png');
}
.heat {
  background-image: url('/public/images/team-icons/heat.png');
}
.bucks {
  background-image: url('/public/images/team-icons/bucks.png');
}
.timberwolves {
  background-image: url('/public/images/team-icons/timberwolves.png');
}
.hornets {
  background-image: url('/public/images/team-icons/hornets.png');
}
.knicks {
  background-image: url('/public/images/team-icons/knicks.png');
}
.thunder {
  background-image: url('/public/images/team-icons/thunder.png');
}
.magic {
  background-image: url('/public/images/team-icons/magic.png');
}
.sixers {
  background-image: url('/public/images/team-icons/sixers.png');
}
.suns {
  background-image: url('/public/images/team-icons/suns.png');
}
.trailblazers {
  background-image: url('/public/images/team-icons/trailblazers.png');
}
.kings {
  background-image: url('/public/images/team-icons/kings.png');
}
.spurs {
  background-image: url('/public/images/team-icons/spurs.png');
}
.raptors {
  background-image: url('/public/images/team-icons/raptors.png');
}
.jazz {
  background-image: url('/public/images/team-icons/jazz.png');
}
.wizards {
  background-image: url('/public/images/team-icons/wizards.png');
}